<%= stylesheet_link_tag "font_styles", "users" %>
<div class="row">
   <% @users.each do |user| %>
    <!-- MEMBER -->
    <div class="col-lg-3 col-sm-3">
      <div class="team-member">
        <figure class="profile-pic">
         <!-- MEMBER PROFILE PIC -->
        <%= image_tag user.avatar.url(:medium) %>
        </figure>
        <div class="member-details">
          <h5 class="dark-text red-border-bottom"><%= user.name %></h5>
          <div class="position">
            <%= user.field %>
          </div>
        </div>
        <div class="social-icons">
          <ul>
            <li><a href=""><i class="icon-facebook"></i></a></li>
            <li><a href=""><i class="icon-twitter-alt"></i></a></li>
            <li><a href=""><i class="icon-behance"></i></a></li>
            <li><a href=""><i class="icon-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
    <!-- / END MEMBER -->
