    <!-- MEMBER -->
<div class="row">
 <% @users.each do |user| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= user.name %></h3>
        <p><%= link_to  "#{user.field}" , class: "btn btn-info"  %></p>
        <p><%= user.bio %></p>
        <p><%= link_to 'Website', user.website, class: "btn btn-info" %> </p>
       </div>
     </div>
   </div>
 <% end %>
</div>
    <!-- / END MEMBER -->
