/* =======================================================================
Zerif -One Page Respossive HTML5 Template
======================================================================= */

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {

    font-size: 100%;
}

body {
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  overflow-x: hidden !important;
  line-height: 25px;
  text-align: center;
}
/*---------------------------------------
 **   SECTION:  OUR TEAM              -----
-----------------------------------------*/


.team-member {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
}

.team-member .profile-pic {
  border-radius: 50%;
  width: 174px;
  height: 174px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}
.team-member .profile-pic img {
  width: 100%;
  height: 100%;
}
.team-member h5 {
  text-transform: uppercase;
  color: #404040;
  font-weight: 700;
  position: relative;
}
.team-member .position {
  font-size: 13px;
  margin-top: 15px;
}
